<div class="container portfolio-container">
  <div class="row">
    <div class="col-md-7">
      <%= image_tag portfolio_img(@portfolio_item.main_image.url, 'main'), class: 'main-image' %>
    </div>

    <div class="col-md-5">
      <h2><%= @portfolio_item.title %></h2>

      <hr />
      <em><%= @portfolio_item.subtitle %></em>

      <p><%= @portfolio_item.body %></p>

      <hr />

      <h3>Technologies used</h3>
      
      <% @portfolio_item.technologies.each do |technology| %>
        <p><%= technology.name.capitalize %></p>
      <% end %>
    </div>
  </div>
</div>
