<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <meta name="keywords" content="<%= @seo_keywords %>" />


    <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= render 'shared/blog_masthead' %>
      <%= render 'shared/blog_nav' %>
      <%= render 'shared/blog_jumbotron' %>
      <%= render 'shared/blog_card' %>
    </div>

    <main role="main" class="container">
      <p>
        <%= link_to 'Write a New Blog', new_blog_path if logged_in?(:site_admin) %>
      </p>
      <p>
        <%= link_to 'Topics', topics_path %>
      </p>
      <div class="row">
        <div class="col-md-8 blog-main">
          <%= yield %>

        </div>

        <aside class="col-md-4 blog-sidebar">
          <%= render 'shared/blog_sidebar'%>
        </aside>
      </div>
    </main>

    <%= render 'shared/blog_footer' %>

    <%= alerts("Eneojo Blog") %>

    <%= source_helper('blog') %>
  </body>
</html>
